/node_modules
/public/hot
/public/images/*
/public/invoices/*
/public/frontend/images/*
/bootstrap/cache/*

/storage/*.key
/vendor
*.zip
.env
.phpunit.result.cache
.vscode
.DS_Store
.styleci

/JS_SYSTEM.md

/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/stock_count
/composer.lock
/package-lock
/public/landlord/custom/assets/js/leaflet.js